.category-card-small {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  text-align: center;
  /* padding-bottom: 50px; */
  height: 380px;
  /* border: black; */
}

.category-card-small:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.category-text p {
  color: #777;
  font-size: 0.9rem;
  margin: 10px;
}
