
.sidebar {
  width: 230px;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar img {
  width: 100px;
  height: 50px;
  transition: all 0.3s ease;
}

.sidebar.collapsed img {
display: none;
}

.sidebar.collapsed .sidebar-text {
  display: none;
}

