.bg-imgVertical {
  background-image: url("img/auth/_.jpeg");
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
}

.bg-imgHorizontal {
  background-image: url("img/auth/_2.jpeg");
  background-repeat: no-repeat;

  width: 100vw;
}

.bg-img-Vertical {
  background-image: url("img/auth/img16.jpg");
  background-repeat: "no-repeat";
  background-size: cover;
  height: 100vh;
}

.bg-linear {
  background-image: linear-gradient(135deg, #fbeff4 5%, rgba(78, 6, 41, 0.6));
}

.bg-blur {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.25);
}

.lightTextShadow {
  text-shadow: 1px 1px 1px #b693a4;
}

.input-group:focus-within {
  outline: 0.01px solid rgba(78, 6, 41, 0.6);
  box-shadow: 0 0 0.01rem 0.25rem rgba(78, 6, 41, 0.3);
  border-width: 0.2px;
}

.form-control {
  border: 0.5 #dee2e6;
}

.form-control:focus {
  border-width: 0.05px;
}

.passImg {
  filter: contrast(60%);
}

.vh-100 {
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .bg-imgVertical {
    display: none;
  }
}
